#container {
  display: flex;
  height: 100vh;
}
#sidebar {
  width: 250px;
  transition: width 0.3s;
  overflow: auto;
  border-right: 1px solid #ccc;
}
#sidebar.hidden {
  width: 0;
}
#main-panel {
  flex: 1;
  display: flex;
  transition: margin 0.3s;
}
#left-panel, #right-panel {
  flex: 1;
  padding: 10px;
  overflow-y: auto;
  border-left: 1px solid #ccc;
}
